$white: #fff;
$black: #000;
$primary-100: #cc9c00;
$primary-300: #ffcf33;
$primary-400: #ffc400;
$primary-o: rgb(255 207 51 / 20%);
$green-primary-300: #b2e085;
$silver-100: #ababab;
$silver-200: #dadada;
$silver-300: #ededed;
$silver-400: #f1f3f3;
$silver-500: #fcfcfc;
$silver-600: #f7f8f8;
$red: #f50200;
$red-opacity: rgb(245 2 0 / 15%);
