body {
    background-color: azure;
}

.parent-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    max-width: 1200px;
    /*ориентироваться на это значение*/
    margin: 0 auto;
    background-color: #ddd;
}

.parent-block__heading {
    width: 91.66666666666667%;
    padding: 1.818181818181818%;
    color: red;
    background-color: yellowgreen;
}

.parent-block__text {
    background-color: bisque;
}

.parent-block__list {
    display: flex;
    margin: 0;
    list-style: none;
    background-color: burlywood;
    color: white;
}

.parent-block__list-item {
    background-color: red;
}

.parent-block-btn {
    cursor: pointer;
    position: relative;
    background-color: white;
    margin: 20px 0;
    border: none;
    border-radius: 1px;
    width: 20px;
    height: 3px;
}

.parent-block-btn::before,
.parent-block-btn::after {
    position: absolute;
    top: -8px;
    left: 0;
    display: block;
    content: "";
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 1px;
}

.parent-block-btn::after {
    top: 8px;
    left: 0;
}

.parent-block-btn:hover,
.parent-block-btn:hover::before,
.parent-block-btn:hover::after {
    opacity: 0.85;
}

.btn-x-tranform {
    padding: 0;
}

.btn-x-tranform::before {
    transform-origin: center;
    transform: translateY(8px) rotate(45deg);
}

.btn-x-tranform::after {
    transform-origin: center;
    transform: translateY(-8px) rotate(-45deg);
}

.hide-btn-text {
    display: none;
}